/*
 Theme Name:     Twenty Seventeen Child Theme
 Theme URI:      http://hyperlinkcode.com/blog/twenty-seventeen-child-theme/
 Description:    A bare-bones child theme for use with WordPress Twenty Seventeen Theme. Pick matching colors quickly at <a href="http://www.html-color-names.com/">html-color-names.com</a>.
 Author:         Edward Zivkovic
 Author URI:     http://www.ezau.com/
 Template:       twentyseventeen
 Version:        1.0.0
*/
 


html, body{
 font-family: 'OpenSans-Regular';
 font-size: 100%;
 background: #FFf;
 height: 100%;
}

body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body{
    /*padding-right: 0px !important;*/
    overflow-x: hidden;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram, .loginmodal-container .loginmodal-submit{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
   margin:0;		
  font-family: 'OpenSans-Regular';
  font-weight:700;

}	
p {
    margin: 0;
    font-family: 'OpenSans-Regular';
    line-height: 1.9em;
	font-weight: 400;
	letter-spacing:normal;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.top_banner {
    position: relative;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#e50004;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding: 2em 2em 0em 2em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    height: 60px;
    padding: 0;
    font-size: 18px!important;
    text-transform: capitalize;
    letter-spacing: 3px;
    line-height: 33px;
    position: relative;
    
}
.navbar-brand span {
    color: #fff;
    background: #26bdef;
    padding: 5px 12px;
    font-size: 2em;
    font-weight: bold;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121!important;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
        color: #0a0a0a;
    text-decoration: none;
    background-color: #fcb314;
}
/*-- nav-effect --*/
#m_nav_bar {
    width: 80%;
    margin: auto;
}
#m_nav_list {
    list-style: none;
}
.m_nav_item {
    display: inline-block;
    margin-right: 0.5em;
}
.m_nav_item a {
    text-decoration: none;
    color:#fff;
        text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    -webkit-transition-duration: 0.5s;
    padding: 10px 10px;
    font-size: 0.9em;
}

.container_open {
    position: fixed !important;
    display: block;
    height: 120px;
}

#m_nav_menu {
    width: 65px;
    height: 65px;
    position: fixed;
    background: #34b3f5;
    top: 0;
    left: 0%;
    z-index: 3;
    cursor: pointer;
}

.m_nav_ham {
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 5px auto;
}
.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}
.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top:-7px;
}
.m_nav_ham_3_open {
    opacity: 0;
}
.button_open {
    background: #333;
}
.kg_agileits_ham {
    margin-top:1.5em;
}
.kg_agileits_ham.m_nav_ham_1_open {
    margin-top:32px !important;
}
.menu__list li a i{
	padding-right:1em;
}
.link--kumya:hover i,.menu__list .active a i{
	    color: #fff;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121!important;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
        color: #0a0a0a;
    text-decoration: none;
    background-color: #fcb314;
}
ul.dropdown-menu.agile_short_dropdown li {
    list-style: none;
}
ul.dropdown-menu.agile_short_dropdown li  a{
    padding: 10px 10px;
}
.link {
	outline: none;
	position: relative;
	display: inline-block;
}
/* Kumya */
.link--kumya {
	overflow: hidden;
    line-height: 1;
}

.link--kumya:hover,.menu__list .active a {
	color:#fff;
	
}

.link--kumya span {
	display: inline-block;
    position: relative;
}

.link--kumya:hover span::before,.menu__list .active a span::before {
	width: 100%;
}
/*-- //menu --*/
/*-- //nav-effect --*/

/*--/top_header_agile_info_kgls--*/
h3.title-kg-agileits {
    font-size: 31px;
	color:#080808;
	letter-spacing:2px;
	position:relative;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	-webkit-text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	-moz-text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	-o-text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	-ms-text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    text-transform: uppercase;
}

.top_header_agile_info_kgls {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: -2%;
}
.banner_agile_info_wthree {
    position: absolute;
    z-index: 99;
    left: 32%;
    top: 41%;
}

.banner_agile_info_wthree h2 {
    color: white;
    font-weight: 700;
    font-size: 4em;
    border: none;
    letter-spacing: 5px;
}
/*--//top_header_agile_info_kglse--*/
.about-wel {
    text-align: left;
    margin-bottom: 30px;
}
.come {
    padding-left: 3em;
}
.come h3 {
    text-align: left!important;
}
.red-kgl {
    padding: 10px;
    position: relative;
}
.red-kgl img {
    width: 100%;
}
.position-kgl {
    position: absolute;
       border: 12px solid rgba(0, 0, 0, 0.53);
    top: 10%;
    padding: 16em 13em;
    left: 12%;
}
.about-img {
    padding-top: 1em;
}
.about-img1{
	padding:0 0.5em 0 0;
}
.about-img2{
	padding:0 0 0 0.5em;
}
.about-wel p {
    font-size: 1em;
    color: #545151;
    line-height: normal;
    margin: 10px 0px 15px 0px;
}
.steps-wel h5 {
    font-size: 1.5em;
    color: #00bfff;
    text-align: left;
    letter-spacing: 1px;
	margin: 0 0 30px;
}
.kgl_banner_bottom_grid1 {
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 50px;
    text-align: center;
    position: relative;
    display: inline-block;
}
.kgls_banner_bottom_grids.first-posi-kgl {
    padding-left: 3em;
}
.kgl_banner_bottom_grid1 i{
	font-size: 1.5em;
       color: #26bdef;
    line-height: 2.3em;
}
.kgl_banner_bottom_grid1:nth-child(2), .kgl_banner_bottom_grid1:nth-child(3){
	margin-top:15px;
}
.kgls_banner_bottom_grid:hover .kgl_banner_bottom_grid1 i{
    color: #0accff;
}
.kgls_banner_bottom_grids h6 {
    font-size: 2.5em;
    line-height: 59px;
    color: #232323;
	    font-weight:300;
}
.kgl_banner_bottom_grid1:before {
    content: " ";
    width: 48px;
    height: 2px;
    background: #e6e6e6;
    position: absolute;
    top: 31px;
    left: -89%;
}
.kgl_banner_bottom_grid1:after {
    content: " ";
    width: 12px;
    height: 12px;
    background: #000000;
    position: absolute;
    top: 25px;
    border-radius: 50px;
    left: -89%;
}
.first-posi-kgl:before {
    position:relative;
}
.kgls_banner_bottom_grids h6:nth-child(2), .kgls_banner_bottom_grids h6:nth-child(3) {
    margin-top: 15px;
}
.kgls_banner_bottom_grids p:nth-child(2), .kgls_banner_bottom_grids p:nth-child(3) {
      margin-top: 33px !important;
}
.kgls_banner_bottom_grids p {
    text-align: left;
}
.kgls_banner_bottom_grids p {
    font-size: 1.4em;
    font-weight: 700;
    color: #3a3a3a;
    margin-top: 9px!important;
}
/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active,
.kgls_banner_bottom_grid:hover .hvr-pulse-shrink{
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/*--//services-section--*/
/*-- stats --*/
.kg_stats_left{
       padding: 5.5em 0 4em 0;
	text-align:center;
}
.kg_stats_left p{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    margin: 0;
    margin-top: 20px;
    line-height: normal;
}
.kg_stats_left h3 {
       font-size: 21px;
       color: #efb312;
    font-style: italic;
    font-family: 'OpenSans-Regular';
    letter-spacing: 1px;
    font-weight: 600;

}
.kg_stats_left i {
    font-size: 2.5em;
    color: #fff;
}
.kgl_stats_bottom_grid_left img{
	margin:0 auto;
}
.stats{
	 background: url(images/wallhaven-12018.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
    text-align: center;
}
/*-- //stats --*/
/*-- banner-bottom --*/
.agileits_banner_bottom_left{
	background:#000;
	padding: 0;

}
.kg_agileits_banner_bottom_pos_grid{
    padding: 6em 3em;
}
.wthree_banner_bottom_grid_right h4 {
    font-size: 1.6em;
    color: #fcb314;
    margin-bottom: .7em;
    letter-spacing: 2px;
}
.wthree_banner_bottom_grid_right p{
	color:#fff;
	line-height:2em;
}
.agile_banner_bottom_grid_left_grid{
	width:100px;
	height:100px;
	text-align:center;
}
.agile_banner_bottom_grid_left_grid i {
    font-size:3em;
    color: #fff;
    line-height: 2.1em;
}
/*.agileits_banner_bottom_left:nth-child(2),.agileits_banner_bottom_left:nth-child(6), .agileits_banner_bottom_left:nth-child(4), .agileits_banner_bottom_left:nth-child(8), .agileits_banner_bottom_left:nth-child(10) {
      background: #111;
}*/
.agileits_banner_bottom_left {
    min-height: 300px;
    text-align: center;
}
.agileits_banner_bottom_left a{
    display: table;
    height: 300px;
    width: 100%;
    overflow: hidden;
    outline: none;
}
.agileits_banner_bottom_left a:focus{
    outline: none;
}
.agileits_banner_bottom_left .agileinfo_banner_bottom_pos{
    display: table-cell;
    height: 100%;
    width:100%;
    vertical-align: middle;
}
.agileits_banner_bottom_left .icon{
    width: 80px;
    height: 80px;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    opacity: 1;
}
.course{
    position: relative;
    display: block;
    opacity: 0.8;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    max-width: 100%;
}
.agileits_banner_bottom_left a:hover .course{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.agileits_banner_bottom_left h4{
    display: none;
}
.agileits_banner_bottom_left h4 {
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 19px;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
}
.agileits_banner_bottom_left a:hover h4{
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1); 
    opacity: 1;
}
.agileits_banner_bottom_left a:hover .icon{
    display: none;
}
.iconandimg{
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background:transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#fcb314;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before,.agileits_banner_bottom_left:hover .hvr-radial-out:before
,.agileits_banner_bottom_left1:hover .hvr-radial-out:before,.agileits_banner_bottom_left2:hover .hvr-radial-out:before,
.kg_agile_services_grid:hover .hvr-radial-out:before,.kg_agileits_services_bottom_grid:hover .hvr-radial-out:before,
.kg_mail_grid_left:hover .hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);
}
/*-- //banner-bottom --*/
/*--testimonial --*/
#testimonial {
    text-align: center;
}
h3.title-kg-agileits.two {
    color: #fff;
}
.tittle-agileinfo {
    margin-bottom: 3em;
    text-align: center;
}
.test-review img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -mox-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.41);
    width: 37%;
    border: none;
}
.test-review h5 {
    font-size: 1.3em;
    color: #0c2149;
    text-transform: none;
    text-align: center;
    letter-spacing: 1px;
}
.test-review p {
     color: #545151;
    line-height:1.9em;
	padding: 0 10px;
}
.test-review span {
    color: #fcb314;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: 0.5em;
    display: block;
    font-weight: 600;
}
.test-review img {
    margin: 0 auto;
    position: absolute;
    top: -4em;
    left: 36%;
    width: 28%;
}
.test-review {
    background: #f1f1f1;
    padding: 5em 2em 2em;
    margin: 4em 2.5em 0;
    position: relative;
}
.test-review ul li {
    margin: 0 5px!important;
}

#testimonial{
	background: #12345f;
}
#testimonial,.inner_section_kgls,.about-kg-agileinfo,#blog,.gallery {
     padding:5em 0;
}
.banner-bottom{
  padding:5em 0 0 0;
}
/*-- //team --*/
.kgls_banner_bottom_right img {
    margin: 0 auto;
    width: 50%;
    float: right;
}
.kgls_banner_bottom_right {
    float: right;
	width:100%;
}
.agileits_kg_banner_bottom_grid{
	position:relative;
}
.blog-info-agileits-kg {
    padding:1em 2em 0em 1em;
    width: 50%;
    float: left;
}
.blog-info-agileits-kg ul {
    margin-bottom: 1em;
}
.blog-info-agileits-kg ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #888787;
}
.blog-info-agileits-kg ul li i {
    color: #989797;
    font-size: 17px;
    display: inline-block;
    margin-right: 10px;
}
.blog-info-agileits-kg h5 a {
    border-bottom: 1px solid #ffb900;
    padding-bottom: 11px;
}
.event-info-wthree h5, .blog-info-agileits-kg h5 a {
    font-size: 25px;
    letter-spacing: 1.5px;
    color: #000000;
    margin-bottom: 14px;
    line-height: 32px;
    display: block;
    text-decoration: none;
}
p.para-kg {
    color: #545151;
}
.wthree_more a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background: #26bdef;
    margin-top: 1.2em;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
}
.modal-header {
    text-align: center;
}
.modal-content p{
  font-size:0.9em;
      color: #545151;
}
.modal-content img {
    margin: 1em 0;
}
.modal-header {
    border-bottom: none!important;
}
/*-//Blog-*/
.inner_banner_agileinfo {
    background: url(images/wallhaven-3178.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
	min-height:300px;
}
/*-- footer --*/
.kgagile_footer_grid_left {
    text-align: center;
    background: #eee;
    width: 33%;
	float: left;
    margin: 45px 1px 0;
	position:relative;
}
.kgagile_footer_grid_left1 {
    width: 70px;
    height: 70px;
    border: 4px solid #fff;
    text-align: center;
    margin: 0 auto 1em;
    position: absolute;
    border-radius: 50px;
    border-radius: 50px;
    top: -33px;
    left: 42%;
    background: #eee;
}
.kgagile_footer_grid_left1 span {
    color: #212121;
    font-size: 1.5em;
    line-height: 63px;
}
.kgagile_footer_grid_left h4, .kgagile_footer_grid_left a {
    color: #000;
    line-height: 1.8em;
    font-size: 14px;
    padding: 3em 0 2em;
    text-decoration: none;
	display: block;
}
.kgagile_footer_grid_left a:hover{
	color:#fe4630;
}
.kgagile_footer_grid_left h4 span{
	display:block;
}
.agileinfo_footer_bottom {
    background: #131315;
    font-style: normal;
    padding: 2em 0;
    text-align: center;
}
.agileinfo_footer_bottom_grid h2,.agileinfo_footer_bottom_grid h3 {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 1em;
    letter-spacing: 1px;
    font-weight:300;
    margin: 0 0 .5em;
    position: relative;
}
.agileinfo_footer_bottom_grid h2:before ,.agileinfo_footer_bottom_grid h3:before {
    content: "";
    width: 44px;
    height: 2px;
    background: #26bdef;
    display: block;
    bottom: 8px;
    left: 0px;
    position: absolute;
}
.agileinfo_footer_bottom_grid h2 span ,.agileinfo_footer_bottom_grid h3 span{
    color: #fcb314;
    margin-left: .3em;
    font-weight: 600;
}
.agileinfo_footer_bottom_grid p{
	color:#999;
    line-height: 1.8em;
    margin: 0;
}
.agileinfo_footer_bottom_grid ul.tag2{
    padding: 0;
    margin: 0 0 17px 0;
}
.agileinfo_footer_bottom_grid ul.tag2 li{
	display:inline-block;
}
.agileinfo_footer_bottom_grid ul.tag2 li a{	
	font-size: 14px;
    color: #CCC8C8;
       padding: 7px 21px;
    background: #0f0f10;
    text-decoration: none;
    font-family: 'OpenSans-Regular';
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
	    text-transform: capitalize;
		letter-spacing:1px;
}
.agileinfo_footer_bottom_grid ul.tag2 li a:hover{
    text-decoration: none;
    background: #26bdef;
    color: #fff;
}
.agileinfo_footer_bottom_grid ul.tag2{
	display:block;
}
ul.tag2:last-child {
    margin: 0;
}
.agileinfo_footer_bottom_grid ul.twi li{
    display: block;
    color: #B8B8B8;
    font-size: 0.9em;
    margin-bottom: 1.5em;
    font-weight: 400;
    line-height: 1.8em;
}

.agileinfo_footer_bottom_grid ul.twi li i{
	padding-right:1em;
}
.agileinfo_footer_bottom_grid ul.twi li:nth-child(2){
	margin:0;
}
.agileinfo_footer_bottom_grid ul.twi li a.mail{
    color: #B8B8B8;
    font-size: 0.9em;
    line-height: 1.9em;
    font-weight: 600;
    letter-spacing: 1px;
}
.agileinfo_footer_bottom_grid ul.twi li a.mail:hover{
	color:#fff;
}
.agileinfo_footer_bottom_grid ul.twi li span{
	display:block;
	margin:1em 0 0em;
	color:#fff;
	 font-size: 0.9em;
}
.flickr-grids{
	margin:1em 0 0;
}
.flickr-grid{
    float: left;
    width: 33%;
    padding: 2px;
}
.flickr-grid img{
	width:100%;
}
.agileinfo_footer_bottom_grid{
    padding-right: 0;
}
.agileinfo_footer_bottom1 {
    padding:1em 0;
    background: #0f0f10;
}
.index-copy-right{
	background: transparent;
}
.agileinfo_footer_bottom1 p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: center;
}
.agileinfo_footer_bottom1 p a {
        color: #26bdef;
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.agileinfo_footer_bottom1 p a:hover {
    color: #fff;
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
}
.social-nav li {
    display: inline-block;
}
.social-nav a {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.model-3d-0 a {
    background:#5C5B5B;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.model-3d-0 .front, .model-3d-0 .back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(18px);
    -moz-transform: translateZ(18px);
    -ms-transform: translateZ(18px);
    -o-transform: translateZ(18px);
    transform: translateZ(18px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
	color:#212121;
	font-size:12px;
}
.model-3d-0 .back {
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
a.twitter .front {
    background: #00acee;
}
a.facebook .front {
    background: #3b5998;
}
a.instagram .front {
    background: #d11718;
}
a.pinterest .front {
    background: #bd081c;
}
.twitter .back,.facebook .back,.instagram .back,.pinterest .back{
    background:#fff;
}
.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.model-3d-0 a:hover .back {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}
.kg_agile_social .front i{
	color: #fff;
    font-size: 12px;
}
.kg_agile_social .back i{
	color: #000;
    font-size: 12px;
}
.kgls_team_grid img {
    background: #e4e3e3;
    padding: 7px;
}
.footer-menu{
    margin-bottom: 25px;
    display: block;
    text-align: center;
}
.footer-menu li{
    display: inline-block;
    text-align: center;
}
.footer-menu li a{
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    margin:0px 10px;
}
.footer-menu li a:hover{
    color: #656565;
}
/*--social icons--*/

.contact-us .kg_stats_left {
    padding: 4.5em 0 4em 0;
}
.contact-us .title-kg-agileits{
    padding-top: 6%;
    color: #fff;
}
.contact-us .kg_stats_left h3{
    margin-top: 30px;
    font-style: normal;
    color: #Fff;
}
.contact-us{
    background: url(images/contact-bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover; 
}

/* Brand Colours */
.facebook{
    background: #3b5998;
}
.twitter{
    background: #00acee;
}
.google-plus{
	background:#dd4b39;
}
.rss{
	background:#f26522;
}
.social-icon-kg-agile {
    width: 25%;
    float: left;
    text-align: center;
    padding:1.5em 0;
}
.social-icon-kg-agile i {
    color: #fff;
    font-size:28px;
}
.social-agileinfo a:hover {
    opacity: 0.8;
}
/*social icons*/

/*-- icons --*/
.grid_3.grid_4.kg_agileits_icons_page {
    margin: 0;
}
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
      color: #26bdef !important;
    margin: 30px 0 15px;
	font-weight: 400;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.icon-box {
		width:33.33%;
	}
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
		    float: left;
	}
	.input {
		max-width: 99%;
	}
	.input {
      margin: 1em 0em 1em 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.kg_agileits_icons_page {
		margin-top: 0;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 19px;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.kg_agileits_icons_page {
		margin:0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color: #26bdef;
    font-weight: 400;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:800px){
	.grid_3.grid_5.kgls,.grid_3.grid_5.kgl,.grid_3.grid_5.agileits,.grid_3.grid_5.agileinfo,.grid_3.grid_5.wthree {
		margin: 0;
	}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.kgl {
		margin-top: 1.5em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.kg {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- about-bottom --*/
.kgl_about_bottom_left{
	padding:0;
	position:relative;
}
.kgl_about_bottom_left img{
	width:100%;
}
.play-icon{
    position: absolute;
    top: 51%;
    left: 46%;
}
.play-icon span {
    font-size: 3em;
    color: #24f4ff;
}
.play-icon:focus{
	outline:none;
}
.kgl_about_bottom_left_video{
	position: absolute;
    top: 37%;
    left: 36%;
}
.kgl_about_bottom_left_video h4{
	text-transform:uppercase;
	font-size:1.5em;
	color:#fff;
}
.kgl_about_bottom_right{
	padding: 3em 5em;
     background: #26bdef;
    min-height: 495px;
}
.agileinfo_header1{
	font-size: 1.6em;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    padding: .5em 0;
    position: relative;
}
.agileinfo_header1:before, .agileinfo_header1:after {
    content: '';
    background: #ffffff;
    height: 2px;
    position: absolute;
    width: 10%;
}
.agileinfo_header1:before {
    top: 0%;
    left: -5%;
}
.agileinfo_header1:after {
    bottom: 0%;
    right: 52%;
}
.kgl_about_bottom_right p{
    margin: 1em 0 1.3em;
    color: #555;
    line-height: 2em;
}
/*-- //about-bottom --*/
/*-- team --*/
.kgls_team_grid1{
	position:relative;
}
.kgls_team_grid1_pos{
	position:absolute;
	right:0%;
	bottom:-5%;
	background: none;
}
.kgls_team_grid1_pos ul li:nth-child(2),.kgls_team_grid1_pos ul li:nth-child(3){
	opacity:0;
}
.kgls_team_grid:hover .kgls_team_grid1_pos ul li:nth-child(2),.kgls_team_grid:hover  .kgls_team_grid1_pos ul li:nth-child(3){
	opacity:1;
}
.kgls_team_grid{
	text-align: center;
    position: relative;
    overflow: hidden;
}
.kgls_team_grid h4{
	margin:2em 0 0.3em;
	color:#212121;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size: 1.1em;
}
.kgls_team_grid p{
    color: #b2b9bb;
}
/*-- //team --*/
/*-- gallery --*/
.agileits_portfolio_sub_grid {
    background:#26bdef;
}
.kg_agile_portfolio_grid1{
	margin-top:2em;
	overflow: hidden;
}
.agileinfo_portfolio_grid .kg_agile_portfolio_grid1:nth-child(1) {
    margin-top: 0!important;
}
.kg_agile_portfolio_grid1:hover .agileits_kg_team_grid img {
    opacity: 0.4;
}
.kg_agile_portfolio_grid1:hover .agileits_kg_team_grid .kg_port_head {
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: 0;
}
/*-- //gallery --*/
@media(max-width:991px){
	.agileinfo_portfolio_grid {
		float: left;
		width: 33.33%;
		padding: 0 .5em;
	}
	.kg_agile_portfolio_grid1 {
      margin-top: 1em;
	}
}
@media(max-width:480px){
	.agileinfo_portfolio_grid {
		float: none;
		width: 100%;
		padding: 0 1em;
		margin-bottom: 1em;
	}
}
/*-- faq --*/
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:10px 30px;
}
.panel-title > a{
    font-size: 1em;
    color:#212121;
    text-transform: capitalize;
	text-decoration: none;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #FFF;
	color:#212121;
    background-color: #fff;
}
.panel-body {
    padding: 2em;
    font-size: 14px;
    line-height: 2em;
    color: #555;
    background: #f3f1f1;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
/*-- //faq --*/
/*-- contact --*/

.kg_agileits_mail_left{
  background: #f5f4f4;
}
.kg_agileits_mail_left h4{
	padding: 1em;
    color: #fff;
     background: #26bdef;
    text-transform: uppercase;
    letter-spacing: 2px;
	font-size: 1.1em;
}
.kg_agileits_mail_left{
	text-align:center;
}
.kg_agileits_mail_left h4 i{
	padding-right:1em;
	color:#fff;
}
.kg_agileits_mail_left p.wthree_address{
	padding:1em;
	color:#212121;
	line-height:1.8em;
}
.kg_agileits_mail_left1{
	padding:1em;
}
.kg_agileits_mail_left1 a{
    font-size: 16px;
    color: #212121;
    text-decoration: none;
    display: block;
    line-height: 30px;
}
.kg_agileits_mail_left1 a:hover{
	    color: #26bdef;
}
p.agileinfo_para {
    color: #212121;
}
.agileits_map iframe{
	width:100%;
	min-height:400px;
}
.agileinfo_mail_grids{
	margin:2em 0 0;
}
/*-- effect --*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em 1.7em 1em 0;
	max-width: 350px;
	width: calc(100% - 0em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size:12px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Chisato */

.input--chisato {
	padding-top: 1em;
}

.input__field--chisato {
	width: 100%;
	padding:.9em 0.5em;
	background: transparent;
	border: 2px solid #b5b5b5;
	color: #212121;
	-webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
}

.input__label--chisato {
	width: 100%;
	position: absolute;
	top: 0;
	text-align: left;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	-webkit-transform: translate3d(0, 3em, 0);
	transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {
    padding: 0 1em;
    font-weight: 400;
    color: #7d7b7b;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.input__label-content--chisato::after {
	content: attr(data-content);
	position: absolute;
	top: -200%;
	left: 0;
	color: #fcb314;
	font-weight:600;
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
	border-color: #fcb314;
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
	-webkit-animation: anim-chisato-1 0.25s forwards;
	animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
	-webkit-animation: anim-chisato-2 0.25s forwards ease-in;
	animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}

@keyframes anim-chisato-1 {
	0%, 70% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	71%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes anim-chisato-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	70%, 71% {
		-webkit-transform: translate3d(0, 125%, 0);
		transform: translate3d(0, 125%, 0);
		opacity: 0;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		color: transparent;
		-webkit-transform: translate3d(0, 200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}
/*-- //effect --*/
.agileinfo_mail_grids textarea {
    outline: none;
    background: none;
    border: 2px solid #b5b5b5;
    font-size: 13px;
    color: #212121;
    width: 97.5%;
    padding: .9em 0.9em;
    margin: 2em 0;
    min-height: 200px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.agileinfo_mail_grids textarea:focus {
    border-color:#fcb314;
}
.agileinfo_mail_grids input[type="submit"] {
    outline: none;
    background: #26bdef;
    border: none;
    font-size: 17px;
    color: #fff;
    width: 30%;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.agileinfo_mail_grids input[type="submit"]:hover{
	background:#fcb314;
}
/*-- //contact --*/
ul.kg_short li {
    display: inline-block;
    text-transform: uppercase;
    color: #030408;
	font-size:0.9em;
	font-weight:600;
}
ul.kg_short li a {
    color: #26bdef;
    text-decoration: none;
}
.services-breadcrumb {
    padding: 1em 0;
    background: #f5f5f5;
    text-align: center;
}
.services-breadcrumb ul li i {
    padding: 0 1.5em;
}
/*-- single --*/
.agileits_recent_posts,.agileits_twitter_posts,.agileits_tags{
	padding:2em;
	border:5px solid #f5f5f5;
}
.agileits_recent_posts h3,.agileits_twitter_posts h3,.agileits_tags h3{
    font-size: 1.4em;
    color: #fcb314;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
}
.agileits_recent_posts_gridl{
	float:left;
	width:30%;
}
.agileits_recent_posts_gridr{
	float:right;
	width:65%;
}
.agileits_recent_posts_gridr h4 a{
	font-size:1em;
	text-decoration:none;
	color:#212121;
	line-height:1.5em;
	text-transform: capitalize;
}
.agileits_recent_posts_gridr h4 a:hover{
	color:#999;
}
.agileits_recent_posts_gridr ul {
    padding: 0.3em 0 0;
}
.agileits_recent_posts_gridr ul li{
	display:inline-block;
	margin-right:1.5em;
	color:#999;
}
.agileits_recent_posts_gridr ul li a{
	color:#999;
	text-decoration:none;
}
.agileits_recent_posts_gridr ul li a:hover{
	color:#fcb314;
}
.agileits_recent_posts_gridr ul li span{
	padding-right:.5em;
	color:#fcb314;
}
.agileits_recent_posts_grid:nth-child(3) {
    margin: 2em 0;
}
.agileits_recent_posts_grid:nth-child(4) {
    margin: 0em 0 2em;
}
.agileits_twitter_posts {
    margin: 3em 0;
}
.agileits_twitter_posts ul li{
	list-style-type:none;
	color:#999;
	line-height:2em;
}
.agileits_twitter_posts ul li a{
	color:#212121;
	text-decoration:none;
}
.agileits_twitter_posts ul li a:hover{
	color:#fcb314;
}
.agileits_twitter_posts ul li span {
    display: block;
    font-size: 0.9em;
}
.agileits_twitter_posts ul li:nth-child(2),.agileits_twitter_posts ul li:nth-child(3) {
    margin: 1.5em 0;
}
.agileits_twitter_posts ul li i {
    color: #26bdef;
    padding-right: 10px;
}
.agileits_tags ul li{
	display:inline-block;
	margin:0 .5em .5em 0;
}
.agileits_tags ul li a{
	display:block;
	padding:.3em 1em;
	background:#f5f5f5;
	color:#212121;
	text-decoration:none;
}
.agileits_tags ul li a:hover{
	background:#fcb314;
	color:#fff;
}
.kg_comments ul li{
	display:inline-block;
	margin-right:1.5em;
	color:#555;
}
.kg_comments ul li a{
	color:#555;
	text-decoration:none;
}
.kg_comments ul li a:hover{
	color:#fcb314;
}
.kg_comments ul li span{
	padding-right:1em;
	color:#fcb314;
}
.agile_single_right h3 {
    margin: 2em 0;
    color: #212121;
    font-size: 1.4em;
    padding-left: 1.5em;
    line-height: 1.8em;
    border-left:5px solid #fcb314;
}
.kg_comments_bottom img{
	width:100%;
}
.kg_comments_bottom p{
    color: #555;
    line-height: 2em;
    margin: 2em 0;
    font-size: 1em;
}
.kg_comments_bottom p i{
    display: block;
    margin-bottom: 1em;
    color: #26bdef;
    font-size: 1em;
    font-weight: 600;
}
.agile_single_right_grid p{
    color: #444343;
    line-height: 2em;
}
.agile_single_right_grid p span{
    display: block;
    margin: 1em 0 0;
    color: #26bdef;
    font-style: italic;
    font-weight: 600;
}
.agile_single_right_grids_two_grid h4{
	padding: 2em 2em 2em 4em;
    color: #212121;
    font-size: 1em;
    text-transform: capitalize;
    position: relative;
    line-height: 2em;
    background: #f5f5f5;
}
.agile_single_right_grids_two_grid h4:before{
	content: '';
    width: 24px;
    height: 15px;
    display: block;
    position: absolute;
    top: 19%;
    left: 7%;
}
.agile_single_right_grids_two_grid p{
	padding: 1em;
    background: #F5F5F5;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 0;
    color: #555;
    text-align: center;
}
.agile_single_right_grids_two{
	margin:2em 0 0em;
}
.kgagile_comments h4,.agileinfo_write_reply h3{
    font-size: 1.5em;
    color: #212121;
    margin-bottom: 1.5em;
    letter-spacing: 1px;
}
.kgagile_grid_left {
    float: left;
    width: 15%;
}
.kgagile_grid_right {
    float: right;
    width: 80%;
}
.kgagile_grid_right h3 a {
    font-size: .8em;
    color: #26bdef;
    margin: 0;
    text-decoration: none;
}
.kgagile_grid_right h3 a:hover{
	color:#212121;
}
.kgagile_grid_right h5 {
    font-size: .8em;
    color: #3c3b3b;
    margin: .5em 0 1em;
    letter-spacing: 1px;
}
.kgagile_grid_right h5 span {
    padding-right: .5em;
}
.kgagile_grid_right p {
    margin: 0 0 1em;
    line-height: 2em;
    color: #555;
    width: 80%;
    font-size: 0.95em;
}
.reply a {
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 6px 24px;
    letter-spacing: 1px;
    font-size: 0.9em;

}
.reply a:hover{
	    background: #fcb314;
}
.comments-grid:nth-child(3) {
    margin:2em 0 0;
}
.agileinfo_write_reply{
	width:85%;
}
.agileinfo_write_reply input[type="text"],.agileinfo_write_reply input[type="email"],.agileinfo_write_reply textarea{
	outline: none;
    width: 100%;
    background: #F3F3F3;
    padding: 10px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    color: #212121;
}
.agileinfo_write_reply textarea{
	min-height:210px;
}
.agileinfo_write_reply input[type="submit"]{
    outline: none;
    width: 30%;
    background: #26bdef;
    padding: 13px 0;
    border: none;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    margin: 2em 0 0;
}
.agileinfo_write_reply input[type="submit"]:hover{
	background:#212121;
}
.agileinfo_write_reply_left {
    padding-left: 0;
    padding-right: 2em;
}
.agileinfo_write_reply input[type="email"] {
    margin: 1em 0;
}
.agileinfo_write_reply input[type="text"]:nth-child(4) {
    margin: 1em 0 0;
}
.kgagile_comments {
    margin: 2em 0;
}
/*-- //single --*/
/*--top-move--*/
/*#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 0px;
    right: 10px;
    overflow: hidden;
    width: 32px;
    height: 35px;
    border: none;
    text-indent: 100%;
    background: url(images/move-top.png) no-repeat 0px 0px;
}*/

/*about-us*/
.about-us{
    background: #131315;
    text-align: center;
    padding: 40px 0;
}
.about-us h1{
    color: #fff;
    font-size:21px; 
    margin-bottom: 20px;
}
.about-us .title-kg-agileits{
    color: #fff;
    margin-bottom: 25px;
}
.about-us p{
    color: #fff;
    line-height: normal;
    font-size: 15px;
    margin-bottom: 15px;
}
/*about-us*/

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 21px;
}

.loginmodal-container .loginmodal-submit {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  float: left;
  opacity: 1;
  color: #fff;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #26bdef;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #179fcc;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
  color: #000000;
} 
.login-help{
  font-size: 12px;
  text-align: center;
}

.modal-dialog{
    margin-top: 7%;
}
.course-model .loginmodal-container {
    max-width: 600px;
}
.course-model .loginmodal-container h3 {
    font-size: 21px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.course-model .loginmodal-container p {
    font-size: 14px;
    line-height: normal;
    margin-bottom: 20px;
}
.course-model .loginmodal-container li {
    list-style-type: circle;
    font-size: 13px;
    margin-bottom: 7px;
    float: left;
    width: 50%;
}
.course-model .loginmodal-container ul {
    padding-left: 20px;
    margin-bottom: 30px;
    float: left;    
}
.course-model .loginmodal-container .loginmodal-submit{
    font-size:16px 
}


/*Custom chcckbox and radio button*/

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    padding-top: 3px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}
/*Check Box*/

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
/*Radio button*/

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

/*Test page style*/
.inner-left-column, .inner-right-column{
    background: #f3f3f3;
    padding: 20px;
    min-height: 500px;
    position: relative;
}
.colunm-footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
}
.colunm-footer .loginmodal-submit{
    opacity: 1;
    color: #000;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: normal;
    font-weight: 600
}
.take-test{
    padding: 20px;
    height: 100%;
}
.test-head-wrap{
    background: #26bdef;
    padding: 10px 20px;
}
.timer-wrap{
    color: #fff;
    float: right;
    font-size: 27px;
    margin-top: -8px;
    font-weight: 500;
}
.timer-wrap span {
    font-size: 15px;
    top: -2px;
    position: relative;
    margin-right: 5px;
}
.timer-wrap span i{
    font-size: 19px;
}
.timer, #countdown{
    display: inline-block;
    margin-left: 5px;

}
.end-time {
    line-height: normal;
    font-size: 20px;
    position: relative;
    top: -2px;
    color: red;
}
.blink-furiously {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.blink-infinite {
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.blink {
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -o-animation-name: blink;
    animation-name: blink;
    -webktit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}   
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.test-head{
    color: #fff;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
}
.question-count {
    background: #26bdef;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding: 5px 10px;
}
.block-question {
    margin-top: 10px;
}
.block-question p{
    font-size: 15px;
    letter-spacing: normal;
    margin-bottom: 20px;
    margin-top: 20px;
}
.count-down li {
    list-style-type: none;
    float: left;
    margin: 5px 4px;
}
.count-down {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.count-down a {
    width: 35px;
    height: 35px;
    display: block;
    background: #26bdef;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    line-height: 35px;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    outline: none;
    float: left;
    margin: 5px 4.5px;
    cursor: pointer;
}
.count-down a:hover{
    opacity: 0.7
}
.legend h6 {
    font-size: 16px;
    font-weight: inherit;
    color: #a7a7a7;
}
.legend{
    position: absolute;
    bottom: 63px;
    width: 262px;
    left: 7px;
}
.legend-type span {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #000;
    border-radius: 100%;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.legend-type .answered, .count-down a.answered {
    background: #499a1a;
}
.legend-type .not-answered, .count-down a.not-answered {
    background: #f05050;
}
.legend-type .not-visited, .count-down a.not-visited {
    background: #26bdef;
}
.legend-type {
    font-size: 11px;
    float: left;
    margin-right: 5px;
}
.return-back {
    margin-bottom: 10px;
}
.return-back a{
    font-weight: 400;
    color: #fff;
    font-size: 14px;
}
.take-test {
    background: url(images/wallhaven-12018.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.finish-test .loginmodal-submit {
    max-width: 120px;
    margin: 0 auto;
    float: none;
    font-size: 14px;
}
.finish-test p {
    text-align: center;
    line-height: normal;
    font-size: 18px;
    margin-bottom: 20px;
}
#qus-wrap ul li{
    list-style-type: none;
}
.next-pagination, .prev-pagination{
    display: none !important;
}
.controls{
    display: inline-block;
}

/*final-report*/
.final-report{
    background: url(images/wallhaven-12018.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}
.final-report .inner-left-column{
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
    min-height: 500px;
}
.final-report .list-group{
    max-width: 350px;
    margin:0 auto;
    margin-top: 10px;
    float: left;
    width: 330px;
}
.badge{
    background: #26bdef;
    min-width: 40px;
    padding: 5px 10px;
}
.table{
    margin-top: 25px;
    position: relative;
    z-index: 2
}
.table > thead > tr > th{
    color: #26bdef;
    font-weight: 400;
    background: #fff;
    width: 20%;
    vertical-align: middle;
    font-size: 14px;
    padding: 10px !important;
}
.table > thead > tr > th:first-child{
    width: 10%;
}
.table > tbody > tr > td{
    font-weight: 400;
    color: #000;
    font-size: 14px;
    padding: 10px !important;
}
.group-wrap{
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
    border: 1px solid #bebebe;
}
.mark-detail{
    text-align: center;
    width: 220px;
    min-height: 215px;
    float: right;
    background: url(images/score-board.png) no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 0
}
.circle-round {
    width: 100px;
    height: 100px;
    border: 2px solid #b7b8b8;
    border-radius: 50%;
    position: absolute;
    top: 29px;
    left: -5px;
    right: 0;
    margin: auto;
    font-family: 'Rock Salt', cursive;
    padding-top: 13px;
    font-weight: 700;
    overflow: hidden;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
}
.circle-round span {
    display: block;
    padding: 6px 10px;
}
.circle-round:before {
    content: '';
    background: #b7b8b8;
    height: 2px;
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.clock-count{
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
#start-countdown{
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    right: 10px;
    min-height: 50px;
    border-radius: 0px;
    font-size: 16px;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
#start-countdown img{
    margin-right: 10px;
}
#start-countdown.hidecountdown{
    right: -240px;
}



/*--responsive--*/
/*-- start-responsive-design --*/

@media (max-width:1680px){
	.kg_banner_bottom_icons1 {
		padding: 0.88em;
	}
	.kgl_about_bottom_right {
		min-height: 520px;
	}
}
@media (max-width:1600px){
	.kg_banner_bottom_icons1 {
		padding: 0.45em;
	}
	.kgl_about_bottom_right{
		min-height: 495px;
	}
	.banner_agile_info_wthree {
		position: absolute;
		z-index: 99;
		left: 29%;
		top: 45%;
	}
}
@media (max-width:1440px){
	.kg_banner_bottom_icons1 i {
		font-size: 1.4em;
		width: 55px;
		height: 55px;
	}
	.kg_banner_bottom_icons1 {
		padding: 0.414em;
	}
	.kgl_about_bottom_right {
		min-height: 459px;
		padding: 2em 3em 0;
	}
	.banner_agile_info_wthree {
		position: absolute;
		z-index: 99;
		left: 27%;
		top: 53%;
	}
	.kg_agileits_banner_bottom_pos_grid {
		padding: 5em 2em;
	}
}
@media (max-width:1366px){
	.kg_banner_bottom_icons1 h3 {
		font-size: 1.023em;
	}
	.view .info {
		margin-top: 6em;
	}
	.panel-group {
		margin-bottom: 10px;
	}
	.kgl_about_bottom_right {
		min-height: 421px;
		padding: 2em 2em 0;
	}
	.kgl_about_bottom_right p {
		margin: 1em 0 2em;
	}
	.agileinfo_header1:before {
		left: -2%;
	}
	.wthree_banner_bottom_grid_right h4 {
		font-size: 1.4em;
		margin-bottom: .7em;
		letter-spacing: 2px;
	}
	#testimonial, .inner_section_kgls, .about-kg-agileinfo, #blog, .gallery {
		padding: 40px 0;
	}
	.banner-bottom {
		padding:4em 0 0 0;
	}
	.kgl_about_bottom_right p {
		margin: 1em 0 1.2em;
	}
	.inner_banner_agileinfo {
		min-height: 258px;
	}
	h3.title-kg-agileits {
       font-size: 31px;
	}
	.banner_agile_info_wthree h2 {
		font-size: 3.6em;
		border: none;
    }
}
@media (max-width:1280px){
	.kg_agileits_banner_bottom_pos_grid {
		padding: 4em 1em;
	}
	.agile_banner_info_pos {
		top: 40%;
	}
	.kg_banner_bottom_icons1_effect {
		padding: 0.536em;
	}
	.services_bottom_grid_left1 {
		left: 15%;
	}
	.kgl_about_bottom_left img {
		min-height: 450px;
	}
	.kgl_about_bottom_right {
		min-height: 450px;
	}
	.kgl_about_bottom_left_video {
		left: 33%;
	}
	.agile_banner_bottom_grid_left_grid {
		width: 80px;
		height: 80px;
	}
	.agile_banner_bottom_grid_left_grid i {
		font-size: 2.5em;
		line-height: 2em;
	}
	.banner_agile_info_wthree h2 {
		font-size: 3.5em;
		letter-spacing: 5px;
	}
	.banner_agile_info_wthree {
		position: absolute;
		z-index: 99;
		left: 27%;
		top: 33%;
	}
}
@media (max-width: 1080px){
	.kgls_banner_bottom_right_pos {
		top: 60%;
	}
	.kg_agile_banner_bottom img {
		min-height: 475px;
	}
	.view .info {
		margin-top: 4em;
	}
	.agile_events_top_grid_pos {
		left: 34%;
	}
	.kg_newsletter_right input[type="email"] {
		width: 74%;
	}
	.kg_newsletter_left h3 {
		font-size: 1.8em;
	}
	.footer-logo h2 a {
		font-size: 1.3em;
	}
	.footer-logo h2 a:before {
		width: 27px;
		height: 40px;
	}
	.services-bottom {
		min-height: 385px;
	}
	.services_bottom_grid_left1 {
		top: -28%;
	}
	.input--chisato:nth-child(3){
		margin-right:0;
	}
	.input {
		max-width: 292px;
	}
	.agileinfo_mail_grids textarea {
		width: 99.6%;
	}
	.kg_about_grid_right h3 {
		font-size: 1.3em;
		letter-spacing: 2px;
	}
	.kg_about_grid_right p.kg_turpis_para {
		margin: 1em 0 2em;
	}
	.kgl_about_bottom_left_video {
		left: 30%;
	}
	.agileinfo_header:after {
		right: 63%;
	}
	.kg_services_grid h4 {
		font-size: 6em;
	}
	.kg_services_grid_pos {
		left: 2%;
	}
	.agileinfo_header {
		letter-spacing: 2px;
	}
	.kg_featured_services_grid h4 {
		font-size: 1em;
	}
	.kg_about_grid_right {
		padding-right: 0;
	}
	.agileinfo_header1:after {
		right: 34%;
	}
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 11%;
		padding: 14em 11em;
		left: 10%;
	}
	.agileits_banner_bottom_left {
		width: 50%;
	}
	.agileinfo_footer_bottom_grid ul.tag2 li a {
		font-size: 9px;
		padding: 13px 21px;
	}
	.m_nav_item {
		display: inline-block;
		margin-right: 0.1em;
	}
	.banner_agile_info_wthree {
		position: absolute;
		z-index: 99;
		left: 27%;
		top: 39%;
	}
	.banner_agile_info_wthree {
		position: absolute;
		z-index: 99;
		left: 23%;
		top: 39%;
	}
	.event-info-wthree h5, .blog-info-agileits-kg h5 a {
      font-size: 18px;
	}
    .test-review {
		padding: 3em 1em 1em;
	}

}
@media (max-width:1050px){
	.agileinfo_footer_bottom_grid {
		padding-right: 0;
		width: 50%;
		margin-bottom: 2em;
	}
	.agileinfo_footer_bottom_grid:nth-child(4),.agileinfo_footer_bottom_grid:nth-child(3) {
		margin: 0;
	}
	.agileinfo_footer_bottom_grid ul.tag2 li a {
		font-size: 13px;
		padding: 8px 21px;
	}
	.kgls_team_grid h4 {
		font-size: 0.9em;
	}
}
@media (max-width: 1024px){
	.kgls_banner_bottom_right_pos {
		top: 56%;
	}
	.agileits_banner_bottom_left p.kgl_para {
		margin: 2em 0;
	}
	.kgl_social_icon_grid_pos {
		left: 31%;
	}
	.agile_events_top_grid_pos img {
		width: 80%;
		margin: 0 auto;
	}
	.agileinfo_header {
		font-size: 1.8em;
	}
	.wthree_events_grid_right {
		min-height: 365px;
		padding: 2em;
	}
	.kg_about_grid_right_grid1l {
		width: 20%;
		padding-left: 0;
	}
	.kg_about_grid_right_grid1r {
		width: 80%;
	}
	.agileinfo_header1:before {
		left: -5%;
	}
	.kgls_team_grid h4 {
		font-size: 1em;
		
	}
	.banner_agile_info_wthree h2 {
		font-size: 3em;
		letter-spacing: 5px;
	}
	.banner_agile_info_wthree {
		position: absolute;
		z-index: 99;
		left: 26%;
		top: 39%;
	}
	.agileinfo_footer_bottom {
		padding: 3em 0;
	}
}
@media (max-width: 991px){
	.agileits_banner_bottom_left h3 {
		font-size: 1.8em;
	}
	.kgl_social_icon_gridr {
		margin: 1.4em 0 0 15em;
	}
	.agileits_banner_bottom_right {
		margin: 2em 0 0;
	}
	.agileits_banner_bottom_right img{
		margin:0 auto;
	}
	.kgls_banner_bottom_right_pos {
		top: 30%;
		left: -10%;
	}
	.banner-bottom-icons {
		padding: 2em 0 0;
	}
	.kg_agile_banner_bottom img {
		min-height: auto;
	}
	.kg_banner_bottom_icons1_effect {
		padding: 1em;
	}
	.kg_banner_bottom_icons1 {
		padding: 2em;
	}
	.agile_events_top_grid_pos {
		left: 32%;
	}
	.kg_banner_bottom_icons1 h3 {
		font-size: 1.1em;
	}
	.agileinfo_header:before, .agileinfo_header:after {
		width: 18%;
	}
	.agileinfo_header:after {
		right: 50%;
	}
	.agileinfo_header:before {
		left: -5%;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: 1.1em;
	}
	.kg_modal_body_left img{
		margin:0 auto;
	}
	.wthree_events_grid_right {
		width: 85%;
		margin: 0 auto;
	}
	.kg_newsletter_left {
		float: none;
		text-align: center;
		margin-bottom: 1em;
	}
	.kg_newsletter_right {
		float: none;
		width: 75%;
		margin: 0 auto;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -1.5%;
	}
	.agileinfo_footer_grid {
		float: left;
		width: 50%;
	}
	.agileinfo_footer_grid:nth-child(2){
		margin-bottom:2em;
	}
	.kg_services_grid {
		float: left;
		width: 33.33%;
	}
	.kg_services_grid h4 {
		font-size: 5.7em;
	}
	.kg_services_grid h3 {
		line-height: 1.5em;
	}
	.services_bottom_grid_right {
		margin: 2em 0 0;
		width: 65%;
		float: right;
	}
	.services-bottom {
		min-height: 360px;
		margin: 4em 0 0;
	}
	.services_bottom_grid_left1 {
		top: -20.5%;
		width: 25%;
		left: 12%;
	}
	.kg_featured_services_grid {
		float: left;
		width: 33.33%;
	}
	.kg_featured_services_grid h4 {
		line-height: 1.5em;
	}
	.kg_about_grid_left1 {
		float: left;
		width: 50%;
	}
	.kg_about_grid img{
		margin:0 auto;
	}
	.kg_about_grid_right {
		margin: 2em 0 0;
	}
	.kgl_about_bottom_left img {
		min-height: auto;
	}
	.kgl_about_bottom_left_video {
		left: 37%;
	}
	.agileinfo_header1:after {
		right: 65%;
	}
	.agileinfo_header1:before {
		left: -3%;
	}
	.kgl_about_bottom_right {
		min-height: auto;
		padding: 3em;
	}
	.kgls_team_grid {
		float: left;
		width: 50%;
	}
	.kgls_team_grid:nth-child(2){
		margin-bottom:2em;
	}
	.kgls_team_grid img{
		margin:0 auto;
	}
	.agileits_kg_mail_left {
		float: left;
		width: 33.33%;
	}
	.input {
		max-width: 219px;
	}
	.agileits_kg_mail_left {
		float: left;
		width: 100%;
	}
	.agileits_kg_mail_left:nth-child(2) {
	  margin:1em 0;
	}
	.m_nav_item a {
		letter-spacing: 2px;
		padding: 10px 20px;
		font-size: 0.8em;
	}
	.come {
		padding: 0;
		margin-top: 2em;
	}
	.kg_stats_left {
		padding: 0;
		text-align: center;
		float: left;
		width: 50%;
		margin-bottom: 2em;
	}
	.stats {
		min-height: 300px;
		padding: 3em 0 1em 0;
	}
	.agileinfo_footer_bottom_grid:nth-child(4){
		margin: 0;
	}
	 .agileinfo_footer_bottom_grid:nth-child(3) {
	   margin-bottom:2em;
	 }
	 .position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 9%;
		padding: 23em 17em;
		left: 10%;
	}
	.kgls_banner_bottom_right img {
		width: 100%;
		float: none;
	}
	.blog-info-agileits-kg {
		padding: 2em 1em 2em 0.2em;
		width: 100%;
	}
	.inner_banner_agileinfo {
		min-height: 223px;
	}
	.agileits_recent_posts, .agileits_twitter_posts, .agileits_tags {
		padding: 2em;
		margin-bottom: 2em;
	}
	.agileinfo_write_reply input[type="text"]:nth-child(4) {
		margin: 1em 0 1em;
	}
}
@media (max-width:900px){
  	.m_nav_item a {
		letter-spacing: 1px;
		padding: 10px 18px;
		font-size: 0.8em;
	}
	
}
@media (max-width: 800px){
	.agile_banner_info_pos {
		left: -23%;
	}
	.kgls_banner_bottom_right_pos {
		left: 0%;
	}
	.view .info {
		margin-top: 2.5em;
	}
	.agile_events_top_grid_pos img {
		width: 70%;
	}
	.agile_events_top_grid_pos {
		left: 28%;
	}
	.agileinfo_header:before {
		left: -2%;
	}
	.modal-dialog {
		width: 700px;
	}
	.services_bottom_grid_left1 {
		width: 31%;
		left: 5%;
	}
	.play-icon {
		left: 48%;
	}
	.agileinfo_header1:after {
		right: 55%;
	}
	.agileits_map iframe {
		min-height: 300px;
	}
	nav.navbar.navbar-default {
		background: none;
		padding: 2em 1em 0em 1em;
	}
	.banner_agile_info_wthree h2 {
		font-size: 2.8em;
		letter-spacing: 3px;
	}
	.banner_agile_info_wthree {
		position: absolute;
		z-index: 99;
		left: 22%;
		top: 39%;
	}
	.agileits_banner_bottom_left {
		width: 100%;
	}
	#testimonial, .inner_section_kgls, .about-kg-agileinfo, #blog, .gallery {
		padding: 3em 0;
	}
	.agileinfo_write_reply input[type="submit"] {
		outline: none;
		width: 42%;
	}
	.test-review ul li {
		margin: 0 1px!important;
	}
	.m_nav_item a {
		letter-spacing: 1px;
		padding: 10px 14px;
		font-size: 0.7em;
	}
}
@media (max-width: 768px){
	.view .info {
		margin-top: 7.5em;
	}
	.agile_events_top_grid_pos img {
		width: 80%;
	}
	.agile_events_top_grid_pos {
		left: 38%;
		bottom: -13%;
	}
	.agileinfo_header:before {
		left: -1%;
	}
	.services-bottom {
		min-height: 365px;
	}
	.services_bottom_grid_left1 {
		width: 33%;
		left: 4%;
		top: -21%;
	}
	.banner_agile_info_wthree {
		position: absolute;
		    z-index: 9;
		left: 22%;
		top: 26%;
	}
	.banner_agile_info_wthree h2 {
		font-size: 2.6em;
		letter-spacing: 3px;
	}
	.test-review {
		padding: 7em 1em 1em;
	}
	.tittle-agileinfo {
       margin-bottom: 2em;
	}
	.inner_banner_agileinfo {
		min-height: 190px;
	}
}
@media (max-width: 767px){

	.banner_agile_info_wthree {
		position: absolute;
		left: 23%;
		top: 43%;
    }
	ul.dropdown-menu.agile_short_dropdown {
		margin: 0 auto!important;
		text-align: center;
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 95.5%;
		z-index: 999;
	}
	.m_nav_item a {
		letter-spacing: 1px;
		padding:0px;
		font-size: 0.8em;
	}
	.navbar-collapse.in {
		overflow:hidden!important;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.nav > li > a {
		display: inline-block;
	}
	.navbar-collapse {
		box-shadow: none;
	}
			.m_nav_item {
		display: block;
		margin-right: 0em;
		margin-bottom: 0.3em;
		padding: 0.5em 0;
	}
	.menu__list {
		margin: 0;
		background: #3fc8ef;
		text-align:center;
		    padding: 1em 0;
	}

	.menu--iris .menu__item {
		margin: 0 0 0em;
	}
	.navbar-nav .open .dropdown-menu {
		background-color:#1f7f9a;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 10px 15px 10px 25px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
	    width: 95%;
		background: #a5a5a5;
		z-index: 999;
	}
	.navbar-toggle {
	    margin: 0
	}
	ul.dropdown-menu.agile_short_dropdown li a {
		padding: 7px 0px;
	}
}
@media (max-width: 736px){
	.agile_banner_info_pos {
		top: 80%;
		left: -20%;
	}
	.agile_banner_info_pos ul li {
		margin: 0 0.5em;
	}
	.banner-bottom-icons {
		padding: 1em 0 0;
	}
	.kgls_banner_bottom_right_pos {
		left: -2%;
	}
	.kg_banner_bottom_icons1 {
		padding: 1em;
	}
	.agileinfo_header {
		font-size: 1.7em;
	}
	.wthree_events_grid_left1 {
		min-height: 110px;
	}
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 7%;
		padding: 23em 16em;
		left: 11%;
	}
}
@media (max-width: 667px){
	.agile_banner_info_pos ul li {
		margin: 0 0.5em;
		font-size: 13px;
	}
	.agile_banner_info_pos {
		top: 70%;
		left: -22%;
	}
	.agile_banner_info p {
		margin: 1em auto 0;
	}
	.kgls_banner_bottom_right_pos {
		top: 35%;
	}
	.view .info {
		margin-top: 6.5em;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 19%;
		top: 41%;
	}
	.kg_newsletter_right {
		width: 90%;
	}
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 8%;
		padding: 20em 14em;
		left: 12%;
	}
	.inner_banner_agileinfo {
		min-height: 170px;
	}
	.agileinfo_write_reply input[type="submit"] {
		outline: none;
		width: 57%;
	}
	.kg_agileits_banner_bottom_pos_grid {
		padding: 2.5em 1em;
	}
}
@media (max-width: 640px){
	.agileinfo_more a {
		border: 1px solid #fff;
		font-size: 13px;
	}
	.agile_events_top_grid_pos {
		left: 37%;
	}
	.agileinfo_header:after {
		right: 40%;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 3.5em;
	}
	.wthree_events_grid_right1 {
		height: auto;
	}
	.wthree_events_grid_right {
		min-height: 330px;
	}
	.services_bottom_grid_right h3 {
		font-size: 1.7em;
	}
	.services_bottom_grid_right p {
		margin: 1em 0 2em;
	}
	.services_bottom_grid_left1 {
		width: 39.8%;
		left: 1%;
	}
	p.b_label {
		margin: 0 0 .5em !important;
	}
	.kgl_about_bottom_left_video {
		left: 34%;
	}
	.kg_about_grid_right h3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.agileinfo_header1:after {
		right: 42%;
	}
	.kgl_about_bottom_right {
		padding: 3em 2em 2em;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.6em;
	}
	.agileits_kg_mail_left {
		float: none;
		width: 100%;
	}
	.wthree_events_grid_left {
		margin-left: 1em;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -2%;
	}
	.agileits_kg_mail_left:nth-child(2){
		margin:1em 0;
	}
	.input {
		margin: 1em 0em 0;
		max-width: 100%;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 20%;
		top: 30%;
	}
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 9%;
		padding: 19em 13em;
		left: 12%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 95%;
		z-index: 999;
	}
	.wthree_banner_bottom_grid_right h4 {
		font-size: 1.2em;
		margin-bottom: .7em;
		letter-spacing: 1px;
	}
	.wthree_banner_bottom_grid_right p {
		font-size: 0.85em;
	}
}
@media (max-width: 600px){
	.agile_banner_info_pos {
		left: -26%;
	}
	.kgl_social_icon_gridr {
		margin: 1.4em 0 0 10em;
	}
	.view .info {
		margin-top: 5.5em;
	}
	.agile_events_top_grid_pos {
		left: 35%;
	}
	.agileinfo_header {
		font-size: 1.5em;
	}
	.agileinfo_header:after {
		right: 45%;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: 1em;
	}
	.wthree_events_grid_right1 h3 {
		font-size: 2em;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 3em;
	}
	.wthree_events_grid_right {
		min-height: 275px;
	}
	.agileinfo_footer_grid h4 span {
		font-size: 2em;
	}
	.banner_agile_info_wthree h2 {
		font-size: 2.4em;
		letter-spacing: 3px;
	}
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 10%;
		padding: 17em 12em;
		left: 13%;
	}
	.about-wel p {
      font-size: 0.9em;
	}
}
@media (max-width: 568px){

	.kg_newsletter_right {
		width: 100%;
	}

	.banner_agile_info_wthree h2 {
		font-size: 2.3em;
		letter-spacing: 3px;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 20%;
		top: 27%;
	}
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 10%;
		padding: 16em 11em;
		left: 14%;
	}
	.agileinfo_footer_bottom_grid ul.tag2 li {
		display: block;
		margin-bottom: 21px;
		width: 50%;
		float: left;
	}
	.agileinfo_footer_bottom_grid ul.tag2 li a {
		font-size: 13px;
		padding: 8px 40px;
		width: 100%;
	}
	.agileinfo_footer_bottom_grid {
		width: 100%;
	}
}
@media (max-width: 480px){
	.agile_banner_info_pos {
		left: -31%;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.5em;
	}
	.kgl_social_icon_gridl {
		width: 60px;
		height: 60px;
	}
	.kgl_social_icon_gridl i {
		font-size: 1.2em;
	}
	.kgl_social_icon_gridr {
		margin: 0.8em 0 0 8em;
	}
	.kgl_social_icon_grid_pos {
		top: 20%;
	}
	.kg_banner_bottom_icons1 {
		float: none;
		width: 100%;
	}
	.view .info {
		margin-top: 9.5em;
	}
	.agile_events_top_grid_pos img {
		width: 100%;
	}
	.agile_events_top_grid_pos {
		left: 40%;
	}	
	.agileinfo_header:before, .agileinfo_header:after {
		width: 20%;
	}
	.agileinfo_header:after {
		right: 38%;
	}
	.agileinfo_header {
		font-size: 1.45em;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -3%;
	}
	.modal-header {
		font-size: 1.7em;
	}
	.kg_newsletter_left h3 {
		font-size: 1.6em;
	}
	.agileinfo_footer_grid {
		float: none;
		width: 100%;
	}
	.agileinfo_footer_grid h4 {
		margin: 0;
	}
	.agileinfo_footer_grid p span {
		display: inline-block;
	}
	.agileinfo_footer_grid:nth-child(2){
		margin-bottom: 1em;
	}
	.agileinfo_footer_grid:nth-child(3){
		margin-bottom:2em;
	}
	.kg_services_grid {
		float: none;
		width: 100%;
		text-align: center;
	}
	.kg_services_grid_pos {
		left: 35%;
	}
	.services_bottom_grid_left1 {
		width: 40%;
		left: 27%;
		top: -18%;
	}
	.services-bottom {
		min-height: auto;
		margin: 6em 0 0;
	}
	.services_bottom_grid_right {
		margin: 15em 0 2em;
		width: 100%;
		float: none;
	}
	.services_bottom_grid_right p {
		margin: 1em 0;
	}
	.kg_services_grid h4 {
		font-size: 5em;
	}
	.kg_services_grid_pos i {
		font-size: 1.2em;
		width: 40px;
		height: 40px;
		line-height: 2.2em;
	}
	.kg_services_grid h3 {
		font-size: 1em;
		margin: 1em 0;
	}
	.kg_services_grid:nth-child(2){
		margin:1em 0;
	}
	.kg_featured_services_grid {
		float: none;
		width: 100%;
	}
	.kg_featured_services_grid h4 {
		margin: 1em 0;
	}
	.kg_featured_services_grid:nth-child(2){
		margin:2em 0;
	}
	.kg_featured_services_grid p {
		margin-bottom: 1em;
	}
	.kgl_about_bottom_left_video {
		left: 28%;
		top: 35%;
	}
	.play-icon span {
		font-size: 2em;
	}
	.kg_about_grid {
		padding: 0 .5em;
		margin-bottom: 1em;
	}
	.kg_about_grid_left1 {
		padding: 0 .5em;
	}
	.agileinfo_header1 {
		font-size: 1.5em;
		letter-spacing: 2px;
	}
	.agileinfo_header1:before, .agileinfo_header1:after {
		width: 20%;
	}
	.agileinfo_header1:after {
		right: 33%;
	}
	.footer-logo h2 a {
		font-size: 1.1em;
	}
	.footer-logo h2 a:before {
		width: 22px;
		height: 33px;
		border: 3px solid #24f4ff;
	}
	.agileinfo_mail_grids {
		margin: 0;
	}
	.input {
		margin: 1em 0 0;
		max-width: 100%;
	}
	.input__field--chisato {
		padding: .7em 0.5em;
	}
	.input__label--chisato {
		-webkit-transform: translate3d(0, 2.6em, 0);
		transform: translate3d(0, 2.6em, 0);
	}
	.agileinfo_mail_grids input[type="submit"] {
		width: 100%;
	}
	.banner_agile_info_wthree h2 {
		font-size: 2em;
		letter-spacing: 3px;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 17%;
		top: 27%;
	}
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 10%;
		padding: 13em 10em;
		left: 10%;
	}
	.kgls_team_grid h4 {
		font-size: 0.8em;
	}
	.kgls_team_grid p {
		font-size: 12px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 93%;
	}
}
@media (max-width: 440px){
	.position-kgl {
		position: absolute;
		border: 12px solid rgba(0, 0, 0, 0.53);
		top: 10%;
		padding: 12em 9em;
		left: 11%;
	}
	.kgls_banner_bottom_grids p {
      font-size: 1.2em;
	}
	.kgls_banner_bottom_grids p:nth-child(2), .kgls_banner_bottom_grids p:nth-child(3) {
		margin-top: 3em!important;
	}
	.kgls_banner_bottom_grids h6 {
		font-size: 1.5em;
		line-height: 60px;
	}
	.kgls_banner_bottom_grids h6:nth-child(2), .kgls_banner_bottom_grids h6:nth-child(3) {
		margin-top: 1.4em;
	}
	.test-review {
		padding: 4em 1em 1em;
	}	
	.test-review img {
		top: -3em;
		left: 36%;
		width: 28%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 92%;
	}
	h3.title-kg-agileits {
		font-size: 2.2em;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 13%;
		top: 27%;
	}
	.agile_banner_bottom_grid_left_grid {
		width: 60px;
		height: 60px;
	}
	.agile_banner_bottom_grid_left_grid i {
		font-size: 1.9em;
		line-height: 2em;
	}
}
@media (max-width: 414px){
	.kg_agile_logo h1 a {
		font-size: .9em;
	}
	.agile_banner_info_pos ul li {
		font-size: 11px;
	}
	.agile_banner_info_pos {
		left: -36%;
	}
	.agileits_banner_bottom_left p.kgl_para {
		margin: 1em 0 2em;
	}
	.agileits_banner_bottom_left {
		padding: 0;
	}
	.kgl_social_icon_gridr {
		margin: 0.8em 0 0 6em;
	}
	.agileits_banner_bottom_right {
		padding-right: 0;
	}
	.kgls_banner_bottom_right_pos {
		left: -5%;
	}
	.agile_events_top_grid_pos {
		left: 39%;
	}
	.view .info {
		margin-top: 8.5em;
	}
	.agileinfo_header {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.agileinfo_header:after {
		right: 25%;
	}
	.wthree_events_grid_left1_gridr {
		padding-right: 0;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: .95em;
	}
	.wthree_events_grid_left1_gridl p:before {
		left: -4%;
		bottom: -6%;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -3.1%;
	}
	.wthree_events_grid_right {
		margin: 2em 0 0;
		width: 100%;
		min-height: auto;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 2.5em;
	}
	.wthree_events_grid_right1 {
		padding: 1em;
	}
	.kg_newsletter_right input[type="email"] {
		width: 72%;
	}
	.kg_newsletter_right input[type="submit"] {
		width: 26.8%;
	}
	.footer-logo h2 {
		line-height: 1em;
	}
	.agileinfo_footer_grid {
		padding: 0;
	}
	.footer-logo h2 a span {
		line-height: 1;
	}
	.footer-logo h2 a:before {
		height: 38px;
	}
	.agileinfo_footer_grid h4 {
		font-size: .9em;
	}
	.agileinfo_footer_grid p {
		margin: 0.5em 0 1em;
	}
	.modal-body p {
		padding: 1em 0 1em;
	}
	.modal-body p i {
		margin: 1em 0 0;
	}
	.kg_services_grid_pos {
		left: 32%;
	}
	.services_bottom_grid_right h3 {
		font-size: 1.5em;
		border-left: 5px solid #13b3bb;
		padding-left: .5em;
	}
	.services_bottom_grid_right {
		margin: 13em 0 2em;
	}
	.kg_about_grid_right {
		padding: 0;
	}
	.kg_about_grid_right h3,.kg_about_grid_right_grid1r h4 {
		font-size: 1.1em;
	}
	.kgl_about_bottom_left_video {
		left: 24%;
	}
	.agileinfo_header1 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.kgl_about_bottom_right {
		padding: 2em 1em 1.5em;
	}
	.panel-body {
		padding: 1em;
	}
	.kgls_team_grid h4 {
		font-size: .9em;
		letter-spacing: 0;
	}
	.kg_agileits_mail_left h4 {
		font-size: 1em;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 9%;
		top: 25%;
	}
	.position-kgl {
		top: 10%;
		padding: 11em 8em;
		left: 12%;
	}
	.steps-wel h5 {
		font-size: 1.3em;
		letter-spacing: 1px;
		margin: 0 0 1em;
	}
	.kgls_banner_bottom_grids p {
		font-size: 1em;
	}
	.kgls_banner_bottom_grids p:nth-child(2), .kgls_banner_bottom_grids p:nth-child(3) {
		margin-top: 4.2em!important;
	}
	.kgls_banner_bottom_grids {
      text-align: right;
	}
	.inner_banner_agileinfo {
		min-height: 140px;
	}
	.test-review span {
		letter-spacing:1px;
		font-size: 13px;
	}
}
@media (max-width: 384px){
	.agile_banner_info {
		margin: 3em auto 2em;
	}
	.agile_banner_info h2 i {
		letter-spacing: 1.5px;
	}
	.agile_banner_info_pos {
		left: -39%;
	}
	.agileits_banner_bottom_left h3 {
		font-size: 1.3em;
	}
	.kg_agile_logo h1 a {
		font-size: .8em;
	}
	.kg_agile_logo h1 a span {
		font-size: .4em;
		padding-left: 1.9em;
	}
	.kg_agile_logo h1 a:before {
		width: 17px;
		height: 32px;
	}
	.kg_banner_bottom_icons1 h3 {
		font-size: 1em;
	}
	.view .info {
		margin-top: 7.5em;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: .85em;
	}
	.wthree_events_grid_left1_gridr {
		padding: 0;
	}
	.wthree_events_grid_left1 {
		min-height: 145px;
	}
	.wthree_events_grid_left1_gridl p:before {
		bottom: -4%;
	}
	.wthree_events_grid_left:before {
		top: -2%;
	}
	.kg_newsletter_left h3 {
		font-size: 1.4em;
	}
	.kg_newsletter_right input[type="email"] {
		width: 100%;
		margin-bottom: 1em;
	}
	.kg_newsletter_right input[type="submit"] {
		width: 100%;
	}
	.agileinfo_footer_grid h4 span {
		font-size: 1.8em;
	}
	.services_bottom_grid_left1 {
		width: 45%;
		left: 28%;
		top: -21%;
	}
	.kgl_about_bottom_left_video {
		left: 20%;
	}
	.play-icon {
		left: 46%;
	}
	.panel-title > a {
		font-size: .9em;
	}
	.agileits_map iframe {
		min-height: 250px;
	}
	.banner_agile_info_wthree h2 {
		font-size: 1.8em;
		letter-spacing: 2px;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 13%;
		top: 25%;
	}
	.position-kgl {
		top: 10%;
		padding: 10em 7em;
		left: 13%;
	}
	.kgls_banner_bottom_grids.first-posi-kgl {
		padding-left: 2em;
	}
	.kgl_banner_bottom_grid1:before {
		content: " ";
		width: 39px;
		height: 2px;
		top: 31px;
		left: -75%;
	}
	.kgl_banner_bottom_grid1:after {
		top: 25px;
		left: -72%;
	}
	.test-review ul li {
		margin: 0 3px!important;
	}
}
@media (max-width: 375px){
	.agile_events_top_grid_pos {
		left: 38%;
	}
	.wthree_events_grid_left {
		padding-right: 0;
	}
	.wthree_events_grid_left1 {
		min-height: 115px;
	}
	.wthree_events_grid_right1 h2 {
		font-size: 2em;
	}
	.kg_services_grid_pos {
		left: 30%;
	}
	p.b_label {
		font-size: 13px;
	}
	.agileinfo_header:before, .agileinfo_header:after {
		width: 30%;
	}
	.agileinfo_header:after {
		right: 15%;
	}
	.agileinfo_more a {
		letter-spacing: 1px;
	}
	.kg_about_grid_right_grid1l_1 {
		width: 55px;
		height: 55px;
	}
	.kg_about_grid_right_grid1l_1 i {
		font-size: 1.2em;
		line-height: 2.8em;
	}
	.kgl_about_bottom_left_video h4 {
		font-size: 1.3em;
	}
	.kgl_about_bottom_left_video {
		left: 24%;
	}
	.kgls_team_grid {
		float: none;
		width: 100%;
		padding:0 3em;
	}
	.kgls_team_grid:nth-child(2) {
		margin: 2em 0;
	}
	.kgls_team_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.banner_agile_info_wthree {
		position: absolute;
		left: 12%;
		top: 25%;
	}
	h3.title-kg-agileits {
		font-size: 1.8em;
		letter-spacing: 1px;
	}
	.kgls_banner_bottom_grids.first-posi-kgl {
		margin-bottom: 1em;
	}
	.kg_stats_left i {
		font-size: 2em;
	}
	.banner-bottom {
		padding: 3em 0 0 0;
	}
	.kg_agileits_banner_bottom_pos_grid {
		padding: 2em 1em;
	}
	.position-kgl {
		top: 10%;
		padding: 9.5em 7em;
		left: 11%;
	}
	.kgls_banner_bottom_grids p {
		margin-top: 14px!important;
	}
	.agileinfo_footer_bottom_grid {
		padding-right: 0;
		width: 100%;
		margin-bottom: 2em;
	}
	.agileinfo_footer_bottom_grid ul.tag2 li {
		display: block;
		margin-bottom: 21px;
		width: 50%;
		float: left;
	}
	
}
@media (max-width: 320px){
	#m_nav_menu {
		top: 4%;
	}
	.agile_banner_info h2 {
		font-size: .5em;
	}	
	.agile_banner_info h2 i {
		letter-spacing: 1px;
	}
	.agile_banner_info_pos {
		left: -46%;
	}
	.agileinfo_more a {
		letter-spacing: 0px;
	}
	.kgl_social_icon_gridr {
		margin: 0.8em 0 0 4em;
	}
	.kgls_banner_bottom_right_pos {
		left: -8%;
		top: 40%;
	}
	p, ul li, ol li {
		font-size: 13px;
	}
	.view .info {
		margin-top: 5.5em;
	}
	.agile_events_top_grid_pos {
		left: 37%;
	}
	.agileinfo_header:before, .agileinfo_header:after {
		width: 45%;
	}
	.agileinfo_header:after {
		right: 5%;
	}
	.wthree_events_grid_left {
		margin-left: 0em;
	}
	.wthree_events_grid_left1_gridr h4 a {
		font-size: .9em;
	}
	.wthree_events_grid_left1_gridl p {
		font-size: 11px;
	}
	.wthree_events_grid_left1_gridl p:before {
		bottom: -7%;
		left: -5%;
	}
	.wthree_events_grid_left:before, .wthree_events_grid_left:after {
		left: -4.1%;
	}
	.wthree_events_grid_left1 {
		min-height: 150px;
	}
	.wthree_events_grid_right {
		padding: 1em;
	}
	.kg_newsletter_left h3 {
		font-size: 1.28em;
	}
	.footer-logo h2 a {
		font-size: 1em;
	}
	.footer-logo h2 a span {
		font-size: .4em;
		padding-left: 2.2em;
	}
	.agileinfo_footer_grid h4,.panel-body{
		font-size: 13px;
	}
	.agileinfo_header {
		font-size: 1.3em;
	}
	.modal-header {
		font-size: 1.4em;
		padding: 10px;
	}
	.kg_services_grid_pos {
		left: 25%;
	}
	.services_bottom_grid_left1 {
		width: 55%;
		left: 24%;
	}
	.kg_about_grid_right h3, .kg_about_grid_right_grid1r h4 {
		font-size: 1em;
	}
	.kg_about_grid_right h3 {
		letter-spacing: 0px;
	}
	.kg_about_grid_right {
		margin: 1em 0 0;
	}
	.kg_about_grid_right_grid1r h4 {
		line-height: 1.5em;
	}
	.kg_about_grid_right_grid:nth-child(2) {
		margin: 1em 0;
	}
	.kgl_about_bottom_left_video h4 {
		font-size: 1.1em;
	}
	.kgl_about_bottom_left_video {
		left: 23%;
		top: 30%;
	}
	.play-icon {
		left: 44%;
		top: 48%;
	}
	.agileinfo_header1 {
		font-size: 1.3em;
	}
	.agileinfo_header1:before, .agileinfo_header1:after {
		width: 30%;
	}
	.agileinfo_header1:after {
		right: 10%;
	}
	.kgls_team_grid {
		padding: 0 2em;
	}
	.agileits_kg_mail_left {
		padding: 0;
	}
	.input__field,.agileinfo_mail_grids input[type="submit"] {
		font-size: 13px;
	}
	.input__label--chisato {
		-webkit-transform: translate3d(0, 2.3em, 0);
		transform: translate3d(0, 2.3em, 0);
	}
	h3.title-kg-agileits {
		font-size: 1.6em;
		letter-spacing: 1px;
	}
	.wthree_banner_bottom_grid_right h4 {
		font-size: 1em;
		margin-bottom: .7em;
		letter-spacing: 1px;
	}
	.position-kgl {
		top: 10%;
		padding: 8.2em 6em;
		left: 12%;
		border: 6px solid rgba(0, 0, 0, 0.53);
	}
	.banner_agile_info_wthree h2 {
		font-size: 1.55em;
		letter-spacing: 1px;
	}
	.agileinfo_footer_bottom_grid ul.tag2 li {
		display: block;
		margin-bottom: 21px;
		width: 50%;
		float: left;
	}
	.test-review img {
		top: -2em;
		left: 36%;
		width: 28%;
	}
	.test-review h5 {
      font-size: 1em;
	}
	.kgls_banner_bottom_grids {
		text-align: right;
		margin-left: 0.5em;
		width: 24%;
	}
	.kgls_banner_bottom_grids h6 {
		font-size: 1em;
		line-height: 69px;
	}
	.kgls_banner_bottom_grids p {
		margin-top: 24px!important;
	}
	.m_nav_item a {
		letter-spacing: 1px;
		padding: 0px;
		font-size: 0.9em;
	}
}