
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html { line-height: 1; }

ol,
ul { list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote { quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img { border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary { display: block; }

/**************************/
/***** Global Classes *****/
/**************************/

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #566473;
  font-size: 100%;
  line-height: 1.25;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/***************/
/***** SVG *****/
/***************/

.svg-wrap {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

/************************/
/***** Sleek Slider *****/
/************************/

.sleekslider {
  width: 100%;
  height:800px;
  position: relative;
  display: block;
  overflow: hidden;
}

.sleekslider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1;
  content: "";
}

.sleekslider .slide.active { z-index: 3; }

.sleekslider .bg-1 { background-image: url("../images/wallhaven-27263.jpg"); }

.sleekslider .bg-2 { background-image: url("../images/wallhaven-16270.jpg"); }

.sleekslider .bg-3 { background-image: url("../images/wallhaven-12018.jpg"); }

.sleekslider .bg-4 { background-image: url("../images/wallhaven-3178.jpg"); }

.sleekslider .bg-5 { background-image: url("../images/wallhaven-10742.jpg"); }

.sleekslider .tab-container {
  max-width: 1200px;
  margin: 0 auto;
}

.sleekslider .slide-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.sleekslider .slide-content {
    z-index: 50;
    position: absolute;
    bottom: 48%;
    left: 20%;
    padding: 0 20px;
}
.slide-content{
	text-align: center;
}
.slide-content h2{
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	text-transform: capitalize;
}
/*****************************/
/***** Navigation Arrows *****/
/*****************************/

nav.nav-split .icon-wrap {
  position: relative;
  display: block;
  padding: 45px 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

nav.nav-split svg.icon {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  fill: #fff;
}

nav.nav-split div {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

nav.nav-split a {
  position: absolute;
  top: 50%;
  display: block;
  outline: none;
  text-align: left;
  z-index: 1000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav.nav-split a svg {
  display: block;
  margin: 0 auto;
  padding: 0;
}

nav.nav-split a.prev { left: 0; }

nav.nav-split a.prev div {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

nav.nav-split a.prev:hover svg.icon {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

nav.nav-split a.next { right: 0; }

nav.nav-split a.next div {
  right: 0;
  text-align: right;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

nav.nav-split a.next:hover svg.icon {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

nav.nav-split a:hover svg.icon {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

nav.nav-split a:hover div {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

nav.nav-split a:hover h3 {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  font-weight: bold;
}

nav.nav-split h3 {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 2.75;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webki-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

nav.nav-split img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/**********************/
/***** Pagination *****/
/**********************/

nav.pagination {
  position: absolute;
  bottom: 20%;
  text-align: center;
  width: 100%;
  z-index: 10;
  left:-1%;
}

nav.pagination span {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px white;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

nav.pagination span.current { box-shadow: inset 0 0 0 8px #fcb314; }

nav.pagination span:hover { box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6); }

/**********************/
/***** Pagination *****/
/**********************/

nav.tabs {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
  background-color:#26bdef;
}

nav.tabs ul {
  margin: 0;
  list-style: none;
}

nav.tabs ul li {
  float: left;
  width: 20%;
  font-size: 14px;
  position: relative;
  padding: 0;
  text-align: left;
  height: 58px;
  font-weight: bold;
  margin: 0;
}

nav.tabs ul li.current a {
  background-color: #fcb314;
  top: -25px;
  height: 83px;
  padding-top: 25px;
}

nav.tabs ul li a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 20;
  width: 100%;
  height: 58px;
  padding-left: 20px;
  padding-top: 20px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  letter-spacing:1px;
}

nav.tabs ul li a:visited { color: #fff; }

nav.tabs ul li a:focus { color: #fff; }

nav.tabs ul li a:hover { color: #fff; }

nav.tabs ul li a:active { color: #fff; }

nav.tabs ul li a span {
    color: #171b1d;
}

nav.tabs ul li a span:visited { color: #a2680c; }

nav.tabs ul li a span:focus { color: #a2680c; }

nav.tabs ul li a span:hover {
    color: #26bdef;
}

nav.tabs ul li a span:active { color: #a2680c; }

nav.tabs ul li a:hover { background-color: #fcb314; }

	.slide-content p {
		color: white;
		font-weight: 100;
		font-size: 30px;
		background: rgba(208, 210, 218, 0.22);
		padding: 0px 30px;
		border: none;
		font-family: 'Roboto', sans-serif;
       letter-spacing: 11px;
	}
/*************************/
/***** Slide Content *****/
/*************************/
@media (max-width:1680px){
	.sleekslider .slide-content {
		z-index: 50;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    padding: 0 20px;
	    right: 0;
	    top: 280px;
	    margin: 0 auto;
	}
}
@media (max-width:1600px){
	.sleekslider .slide-content {
		z-index: 50;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    padding: 0 20px;
	    right: 0;
	    top: 280px;
	    margin: 0 auto;
	}
}
@media (max-width:1440px){
	.sleekslider .slide-content {
		z-index: 50;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    padding: 0 20px;
	    right: 0;
	    top: 280px;
	    margin: 0 auto;
	}
}
@media (max-width:1366px){
  	.sleekslider {
	  width: 100%;
	  height:600px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}

	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height:600px;
	}
}
@media (max-width:1280px){
  	.sleekslider {
	  width: 100%;
	  height:700px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}

	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	height:700px;
	}
	.sleekslider .slide-content {
		bottom: 39%;
		left: 20%;
		padding: 0 20px;
	}
}
@media (max-width:1080px){
	.sleekslider {
	  width: 100%;
	  height:650px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}
    .sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	   height:650px;
	}
	.sleekslider .slide-container {
       max-width:1024px;
	}
	nav.pagination {
		position: absolute;
		bottom: 20%;
		text-align: center;
		width: 100%;
		z-index: 10;
		left: 1%;
	}
	.sleekslider .slide-content {
		bottom: 39%;
		left:15%;
		padding: 0 20px;
	}
}
@media (max-width:1050px){
}
@media (max-width:1024px){
   .slide-content p {
      font-size: 25px;
	}
	.sleekslider .slide-content {
		bottom: 39%;
		left: 19%;
		padding: 0 20px;
	}
}	
@media (max-width:991px){

	.sleekslider {
	  width: 100%;
	  height:650px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}

	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height:650px;
	}
	.sleekslider .slide-container {
       max-width:1024px;
	}
	nav.pagination {
	  position: absolute;
	  bottom: 20%;
	  text-align: center;
	  width: 100%;
	  z-index: 10;
	  left:1.5%;
	}
}
@media (max-width:800px){
	.slide-content p {
		font-size: 19px;
	}
	.sleekslider {
	  width: 100%;
	  height:600px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}

	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height:600px;
	}
}
@media (max-width:768px){
	.slide-content p {
		font-size: 18px;
		padding: 0 20px;
		letter-spacing: 8px;
	}
}
@media (max-width:667px){
	.sleekslider .slide-container {
		max-width:800px;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}
}
@media (max-width:640px){
	  .sleekslider .slide-container {
		max-width:640px;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}
	.sleekslider {
	  width: 100%;
	  height:500px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}

	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height:500px;
	}

	.slide-content p {
		font-size: 15px;
		padding: 0 20px;
		letter-spacing: 6px;
	}
   .sleekslider .slide-content {
		bottom: 43%;
		left: 19%;
		padding: 0 20px;
	}
}
@media (max-width:568px){
	  .sleekslider .slide-container {
		max-width:500px;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}
	.sleekslider {
	  width: 100%;
	  height:450px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}
	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height:450px;
	}
		.sleekslider .slide-content {
		bottom: 43%;
		left: 16%;
		padding: 0 20px;
	}
}
@media (max-width:480px){
	.socialCircle-container {
		position: relative;
		width: 200px;
		height: 200px;
		margin: 0 auto;
	}
	.sleekslider .slide-content {
		z-index: 50;
		position: absolute;
		bottom: 46%;
		left: 17%;
		padding: 0 20px;
	}
	nav.tabs ul li a {
		color: #fff;
		text-decoration: none;
		position: absolute;
		top: 0;
		left: 0px;
	    padding-left: 11px;
	}
	.slide-content p {
		font-size: 13px;
		padding: 0 20px;
		letter-spacing: 4px;
	}
	nav.pagination {
		position: absolute;
		bottom: 26%;
		left: 1.5%;
	}
}
@media (max-width: 440px){
	.sleekslider .slide-content {
		bottom: 46%;
		left: 14%;
		padding: 0 20px;
	}
}
@media (max-width: 440px){
	.slide-content p {
		font-size: 13px;
		padding: 0 10px;
		letter-spacing: 4px;
	}
}
@media (max-width:384px){
	.sleekslider .slide-container {
		max-width:430px;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}
	.sleekslider {
	  width: 100%;
	  height:430px;
	}
	nav.tabs ul li a {
		top: 0;
		left: 0px;
		padding-left: 4px;
	}
	.sleekslider .slide-content {
		bottom: 49%;
		left: 10%;
		padding: 0 20px;
	}
	nav.pagination {
		position: absolute;
		bottom:30%;
		left: 1%;
	}
	nav.pagination span {
		width:10px;
		height:10px;
	}

}
@media (max-width:375px){

	.sleekslider .slide-content {
		z-index: 50;
		position: absolute;
		bottom: 42%;
		left:9%;
	}
	.sleekslider {
	  width: 100%;
	  height:400px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}

	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height:400px;
	}
	.position-w3l {
		top: 13%;
		padding: 9em 6.5em;
		left: 14%;
	}
}
@media (max-width:320px){
	.slide-content p {
		font-size: 14px;
	}
	.socialCircle-container {
		position: relative;
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
		.sleekslider {
	  width: 100%;
	  height:350px;
	  position: relative;
	  display: block;
	  overflow: hidden;
	}

	.sleekslider .slide {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height:350px;
	}
	.slide-content p {
		font-size: 13px;
		padding: 0 7px;
		letter-spacing: 2px;
	}
}